#gradient-light, #gradient-dark {
	animation: Gradient 35s ease infinite;
	-webkit-animation: Gradient 35s ease infinite;
	-moz-animation: Gradient 35s ease infinite;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/*Disable scroll*/
	overflow: hidden;
}

#gradient-dark {
	background: linear-gradient(-45deg, #ee765262, #e73c7e63, #23a5d569, #23d5ab56);
	background-size: 300% 300%;
}

#gradient-light {
	background: linear-gradient(-45deg, #e69c7c, #ea9191, #a6f1b5, #b2f1ef, #c1bbed);
	background-size: 300% 300%;
}

.Card {
	height: 100vh;
	width: max-content;
	border-radius: 10px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	resize: horizontal;
	min-width: max-content;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}